#benefits {
    background-color: $main-bg;
    
    @include media (470px) {
        padding: 5rem 0;
    }

    // position: relative;
    // z-index: 1;
    // background-color: red;

    .benefits__container {
        width: 50%;
        // background-color: grey;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);

        @include media (1000px) {
            width: 70%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
    }

    .benefits__box {
        text-align: center;
        padding: 2.5rem;
        @include media (1000px) {
            width: 60%;
        }

        @include media (470px) {
            width: 90%;
        }
        
    }

    .benefits__img {
        width: 4rem;
    }

    .benefits__heading {
        font-size: 1.8rem;
        margin: 2rem 0 1rem;
    }

    .benefits__info {
        font-size: 1.25rem;
    }
    
}