#benefits {
    background-color: $main-bg;
    

    // position: relative;
    // z-index: 1;
    // background-color: red;

    .benefits__container {
        width: 50%;
        
        // background-color: grey;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
    }

    .benefits__box {
        text-align: center;
        padding: 2.5rem;
    }

    .benefits__img {
        width: 4rem;
    }

    .benefits__heading {
        font-size: 1.8rem;
        margin: 2rem 0 1rem;
    }

    .benefits__info {
        font-size: 1.25rem;
    }
    
}