//fonts
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Raleway:400,700&display=swap');

$heading-font: 'Raleway', sans-serif;
$normal-font: 'Open Sans', sans-serif;
// colors

$main-bg: hsl(218, 28%, 13%);
$footer-bg: hsl(216, 53%, 9%);
$reviews-bg: hsl(219, 30%, 18%);
$access-bg: hsl(217, 28%, 15%);
$cta-cyan: hsl(176, 68%, 64%);
$cta-blue: hsl(198, 60%, 50%);
$font-color: hsl(0, 0%, 100%);


// mixins
@mixin media ($width) {
    @media screen and (max-width: $width){
        @content;
    }
}