.btn {
    cursor: pointer;
    border: none;
}

.cta-btn {
    color: $font-color;
    font-size: 1.4rem;
    font-weight: bold;
    background-image: linear-gradient(to right, 
                $cta-cyan, $cta-blue);
    padding: 1.2rem 7.5rem;
    border-radius: 2.5rem;
    transition: all .3s ease;
    &:hover {
        background-image: linear-gradient(to left, 
                $cta-cyan, $cta-blue);
    }

    @include media (450px){
        padding: 1.2rem 5.5rem;
        font-size: 1rem;
    }

}